{{>header.html}}

<h2>Bin Messages</h2>

{{^messages}}
<div class='email'>
  <div class='header'>
    <span class='key'>X-Protip:</span>
    <span class='value'>Add the header X-Smtpbin-Id to collect mail in this bin.</span>
  </div>

  <div class='header'>
    <span class='key'>X-Smtpbin-Id:</span>
    <span class='value'>{{id}}</span>
  </div>
</div>
{{/messages}}

<ul class='bin'>
{{#messages}}
  <li class='email'>
    <div class='header'>
      <span class='key'>View:</span>
      <span class='value'>
        <a href='/message/{{id}}.txt'>plain</a><span>,</span>
        <a href='/message/{{id}}.html'>html</a>
        <span>or</span>
        <a href='/message/{{id}}'>raw</a>
      </span>
    </div>
    <div class='header'>
      <span class='key'>Subject:</span>
      <span class='value'>{{subject}}</span>
    </div>
  {{#date}}
    <div class='header'>
      <span class='key'>Date:</span>
      <span class='value'>{{date}}</span>
    </div>
  {{/date}}
  {{#from}}
    <div class='header'>
      <span class='key'>From:</span>
      <span class='value'>{{from}}</span>
    </div>
  {{/from}}
  </li>
{{/messages}}
</ul>

{{>footer.html}}
