{{>header.html}}

<script>
function redirect (form) {
    for (var i = 0; i < form.elements.length; i++) {
        var field = form.elements[i];
        if (field.name ==  'bin_id') {
            var url = "/bin/" + encodeURIComponent(field.value);
            window.location.href = url;
        }
    }
}
</script>

{{#id}}
<h2>
  Bin Messages
  {{#search}}
    {{#user}}
      for user {{user}}
    {{/user}}
  {{/search}}
</h2>
{{/id}}

{{^messages}}
<div class='email'>
  {{^id}}
  <h2>New Message Bin</h2>

  <p style='white-space: normal;'>
    Create a <a href='/bin/random'>random</a> message bin, or create a named
    message bin.
  </p>

  <form onsubmit='redirect(this); return false;'>
    <label for='bin_id'>Named message bin:</label>
    <input type='text' name='bin_id' id='bin_id' />
    <input type='submit' style='display: none;' />
  </form>

  {{/id}}

  {{#id}}
  <div class='header'>
    <span class='key'>X-Protip:</span>
    <span class='value'>Add the header X-Smtpbin-Id to collect mail in this bin.</span>
  </div>

  <div class='header'>
    <span class='key'>X-Smtpbin-Id:</span>
    <span class='value'>{{id}}</span>
  </div>
  {{/id}}
</div>
{{/messages}}

<ul class='bin'>
{{#messages}}
  <li class='email'>
    <div class='header'>
      <span class='key'>View:</span>
      <span class='value'>
        <a href='/message/{{id}}.txt'>plain</a><span>,</span>
        <a href='/message/{{id}}.html'>html</a>
        <span>or</span>
        <a href='/message/{{id}}'>raw</a>
      </span>
    </div>
    <div class='header'>
      <span class='key'>Subject:</span>
      <span class='value'>{{subject}}</span>
    </div>
  {{#date}}
    <div class='header'>
      <span class='key'>Date:</span>
      <span class='value'>{{date}}</span>
    </div>
  {{/date}}
  {{#from}}
    <div class='header'>
      <span class='key'>From:</span>
      <span class='value'>{{from}}</span>
    </div>
  {{/from}}
  </li>
{{/messages}}
</ul>

{{>footer.html}}
