{{>header.html}}

<div class='email'>

  <div class='header'>
    <span class='key'>From:</span>
    <span class='value'><a href='http://github.com/agjohnson'>aj@ohess.org</a></span>
  </div>

  <div class='header'>
    <span class='key'>To:</span>
    <span class='value'>postmaster@smtpbin.org</span>
  </div>

  <div class='header'>
    <span class='key'>Subject:</span>
    <span class='value'>Documentation on smtpbin</span>
  </div>

  <div class='header'>
    <span class='key'>X-Source:</span>
    <span class='value'><a href='http://github.com/agjohnson/smtpbin'>http://github.com/agjohnson/smtpbin</a></span>
  </div>

  <h2>Synopsis</h2>

  <p>Use smtpbin for email integration and bounce testing:</p>

  <ul>
    <li>Browsable mailbox for viewing incoming messages</li>
    <li>JSON API for delivery information and statistics</li>
    <li>Generate <i>5xx</i> and <i>4xx</i> errors per recipient</li>
  </ul>

  <h2>Usage</h2>

  <p style='white-space: normal;'>
    Mail bins collect statistics and store incoming messages for viewing in a
    browser. Mail bins are publicly viewable and stored messages expire after
    15 minutes. To store an incoming message in a mail bin, specify an
    <b><a href='#header-id'>X-Smtpbin-Id</a></b> header. Messages that aren't
    rejected due to recipient rejection will be stored for viewing.
  </p>

  <p style='white-space: normal;'>
    Claim a <a href='/bin/random'>random bin</a>, or <a href='/bin'>create one</a>
    manually.
  </p>

  <h2>API Enpoints</h2>

  <p style='white-space: normal;'>
    The following endpoints are available for automating integration testing on
    SMTP services:
  </p>

  <ul>
    <li><a href='/bin/foobar.json'>/bin/:id.json</a> - return bin <b>id</b> as JSON</li>
    <li><a href='/bin/foobar/stats.json'>/bin/:id/stats.json</a> - return stats for bin <b>id</b> as JSON</li>
    <li><a href='/bin/random.json'>/bin/random.json</a> - return random unused bin as JSON</li>
    <li><a href='/message/foobar.json'>/message/:id.json</a> - return message <b>id</b> as JSON</li>
  </ul>

  <h2>Recipients</h2>

  <p style='white-space: normal;'>
    Recipients are accepted or rejected based on the recipient extension,
    specified after the local part of the email address. The local part of the
    email is disregarded, only the extension and, if accepted, headers matter.
  </p>

  <dl class='doc'>
    <dt>foo@smtpbin.org, foobar<b>+250</b>@smtpbin.org, foo<b>+ok</b>@smtpbin.org</dt>
    <dd>
      Return okay (250) response from SMTP server. This will accept mail for
      processing. If additional headers are added, they will be processed at
      this stage.
    </dd>

    <dt>foo<b>+450</b>@smtpbin.org, foo<b>+defer</b>@smtpbin.org</dt>
    <dd>Return temporary failure, mailbox unavailable response.</dd>

    <dt>foo<b>+451</b>@smtpbin.org</dt>
    <dd>Return temporary local error response.</dd>

    <dt>foo<b>+452</b>@smtpbin.org</dt>
    <dd>Return temporary insufficient storage response</dd>

    <dt>foo<b>+500</b>@smtpbin.org, foo<b>+reject</b>@smtpbin.org</dt>
    <dd>Return mailbox unavailable response</dd>
  </dl>

  <h2>Headers</h2>

  <p style='white-space: normal;'>
    By specifying headers in the generated email, statistics can be generated
    and the message will be stored for a short period of time for viewing.
  </p>

  <dl class='doc'>
    <a name='header-id'/>
    <dt><b>X-Smtpbin-Id:</b> &lt;id&gt;</dt>
    <dd>
      Set the mail bin to <b>id</b>, which is an alphanumeric string of any
      reasonable length. This will store the message temporarily under the bin
      <b>id</b> list, which generates a list of messages viewable as plain,
      html, or raw text.
    </dd>
  </dl>

  <p>
    Regards,<br/>
    Anthony<br/>
    --<br/>
    aj@ohess.org<br/>
    <a href='http://ohess.org'>http://ohess.org</a>
  </p>

</div>

{{>footer.html}}
